.web-shortcutter .display-none {
  display: none !important;
}
.web-shortcutter .bookmark-list {
  position: relative;
  padding: 0;
}
.web-shortcutter .bookmark-list .bookmark {
  font-size: 14px;
  padding: 8px 16px;
  list-style-type: none;
  cursor: pointer;
}
.web-shortcutter .bookmark-list .bookmark:hover,
.web-shortcutter .bookmark-list .bookmark.selected {
  background-color: #B0BEC5;
}
